.wy-side-nav-search .wy-dropdown>a img.logo,.wy-side-nav-search>a img.logo {
    width: 50%;
    height: 50%;
}

.wy-side-nav-search>div.version {
    color: whitesmoke;
}

.wy-nav-content {
    max-width: 100%;
}